/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

@media screen and (max-width: 767px) {

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Langar', cursive;
}

body {
  font-family: 'Langar', cursive;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
/* * {
  border: 1px solid;
} */

/* .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, 1fr, auto 
  
} */

header {
  color: red;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-height: 100px;
  border-bottom: 1px solid;
  position: fixed;
  
  }

  h1{
    display: none;
  }


  body  {
    margin: 0;
    padding: 0;
    font-family: 'Langar', cursive;

  }

  #logo {
    display: flex;
    justify-content: flex-start;
    /* padding:18px 0px 18px 0px;  */
    /* margin-left: 20px; */
    margin-top: 5px;
    width: 20px;
    background-color: -webkit-linear-gradient(to left, gold, gold);
  background: linear-gradient(to left, gold, gold );
    
  }
  #logo:hover {
    background-color: blue;
  }
 
/* 
.main {
  display:grid;
  grid-template-columns: 2fr, 1fr, 1fr;
  
} */
  
section {
  text-align: center;
  
}

.section-1 {
    color: black;
    
    
}

.section-2 {
  color: cyan;
}


aside {
  color: blue;
  text-align: center;
}

footer {
  color: green;
  text-align: center;
}

nav {
  color: purple;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

 ul {
  display: flex;
  justify-content: flex-end;
  padding:18px 0px 18px 0px; 
  margin-left: 20px;
 list-style-type: none;

}



#hamburger {
  display: flex;
  color: black;
  position: fixed;
  left: 90%;
  bottom: 90%;
  right: 70%;
  cursor: pointer;
  width: 35px;
  border: 0px;
  border-radius: .5em, 2em;
}
#hamburger:hover {
  background-color: blue;
}

 
#side-menu {
  display: flex;
  display:none;
  position: fixed;
  align-items: center;
  background-color:white;
  cursor: pointer;
}

#side-menu:hover {
  background-color: blue;
}

#menu_item1 { 
  cursor: pointer;
  }

body {
  background: -webkit-linear-gradient(to left, gold, white);
  background: linear-gradient(to left, white, gold );
}



.section-3 {
  color: teal;
  align-items: center;
  
}

#project-1 {
  cursor: pointer;
}


}

@media screen and (min-width:768px) {
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Langar', cursive;

}
}



/* * {
  border: 1px solid;
} */




body {
  font-family: 'Langar', cursive;
}
  
  
  
  header {
    color:grey;
    display: flex;

    min-height: 60px;
    border-bottom: 1px solid;
    }
  
  
  body {
    background: -webkit-linear-gradient(to left, gold, white);
    background: linear-gradient(to left, white, gold );
  }

  #logo {
    display: none;
 
  }
    
  #hamburger {
 display: none;

  }




  ul li {
     display: flex;
    margin:10px;
    
    list-style-type: none; 
 
  }

  



  #side-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end!important;

  /* position: absolute;
  */
}

section {
  text-align: center;
}

.section-1 {
    color: black;
    
}

.section-2 {
  color: black;
}




aside {
  color: blue;
  text-align: center;
}

footer {
  color: green;
  text-align: center;
}

#skill-name {
  display: flex;
}










