/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
* {
  border: 1px solid;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, 1fr, auto 
  
}


header {
  color: red;
  /* padding: 2em; */

  }
  h2{
    display: none;
  }


  

section {
    color: yellow;
}

aside {
  color: blue;
}

footer {
  color: green;
}

nav {
  color: purple;
  display: flex;
  justify-content: flex-end;
  grid-row: 1 / 3;
  background-image: url("https://res.cloudinary.com/ds7w3ysag/image/upload/v1608574645/TL_Logo_dnlgyb.png");
  background-repeat: no-repeat;
  background-size: 50px;
  
  
  
}

.nav ul {
  display: flex;
  padding: 20px;
  
  
}

 .nav ul li {
  

}