/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

@media screen and (max-width: 767px) {

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Langar', cursive;
}

body {
  font-family: 'Langar', cursive;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
/* * {
  border: 1px solid;
} */

/* .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, 1fr, auto 
  
} */

header {
  color: red;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-height: 70px;
  padding: 10px;
  /* border-bottom: 1px solid; */
  position: fixed;
  
  }

  h1{
    display: none;
  }


  body  {
    margin: 0;
    padding: 0;
    font-family: 'Langar', cursive;

  }

  #logo {
    display: flex;
    justify-content: flex-start;
    /* padding:18px 0px 18px 0px;  
    margin-left: 20px; 
    margin-top: 5px; 
    width: 20px; */
    background-color: -webkit-linear-gradient(to left, gold, gold);
  background: linear-gradient(to left, gold, gold );
   height: 50px;
  }
  #logo:hover {
    background-color: white;
  }
 
/* 
.main {
  display:grid;
  grid-template-columns: 2fr, 1fr, 1fr;
  
} */
  
section {
  text-align: center;
  }


.section-1 {
color: black;
}

.section-2 {
  color: black;
}


aside {
  color: black;
  text-align: center;
}


.projects {
 color: green;
}

footer {
  color: green;
  text-align: center;
}

nav  {
  color: purple;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

 ul {
   display: flex;
  justify-content: flex-end;
  padding:18px 0px 18px 0px; 
  margin-left: 20px;
 list-style-type: none;
}




#hamburger {
  display: flex;
  color: black;
  position: absolute;
  /* height: 50px; */
  /* line-height: 50px; */
  left: 90%;
  bottom: 91%;
  right: 70%;
  cursor: pointer;
  width: 30px;
  border: 0px;
  border-radius: .5em, 2em;
}
/* #hamburger:hover {
  background-color: blue;
} */

 
#side-menu {
  display: flex;
  font-size: 25px;
  justify-content: center;
  display:none;
  padding: 20px 180px;
  position: absolute;
  background-color:gold;
  cursor: pointer;
  overflow: hidden;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin-left: -10px;
}

/* #side-menu:hover {
  
} */

#menu_item1 { 
  cursor: pointer;
  }

body {
  background: -webkit-linear-gradient(to left, gold, white);
  background: linear-gradient(to left, white, gold );
}



.section-3 {
  color:green;
  align-items: center;
  
}




.section-3 #badge:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80%{
        transform: translate(.8em);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  }
  10%,
  30%,
  50%{
       transform: translate(-2em);
  }
  70%,
  100%{
        transform: translate(0);
  }
}

#project-2 {
  cursor: pointer;
 
}


#contact img {
border-radius: 20px;
border: 7px solid gold;
}


}

 



@media screen and (min-width:768px) {
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Langar', cursive;

}




/* * {
  border: 1px solid;
} */




body {
  font-family: 'Langar', cursive;
}


  
  
header {
  color: green;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 10px;
  margin-top: 15px;
  /* border-bottom: 1px solid; */
  /* position: absolute;  */
}
    
    body {
      margin: 0;
      padding: 0;
    background: -webkit-linear-gradient(to left, gold, white);
    background: linear-gradient(to left, white, gold );
    
  }
  #hamburger {
    display: flex;
    color: black;
    position: absolute;
    /* height: 50px; */
    /* line-height: 50px; */
    left: 90%;
    bottom: 91%;
    right: 70%;
    cursor: pointer;
    width: 30px;
    border: 0px;
    border-radius: .5em, 2em;
  }



  #logo {
    display: none;
    }
    

  ul li {
     display: flex;
     /* margin:10px; */
    list-style-type: none; 
    
  }
  nav ul li a {
    display: inline;
    margin: 10px 0;
    padding: 10px 20px;
}
a {
  display: block;
  padding: 8px;
}
  



#side-menu {
  display: flex;
  font-size: 25px;
  justify-content: center;
  display:none;
  /* padding: 20px 180px; */
  position: absolute;
  background-color:gold;
  cursor: pointer;
  overflow: hidden;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin-left: 650px;
  
}



section {
  text-align: center;
color: green;
}


.section-1 {
  display: block;  
  color: black;
    text-align: center;
    
}

.section-2 {
  color: black;
}

.section-3 .container-fluid {
  margin: auto;
  color: green;
}



.section-3 #badge:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80%{
        transform: translate(.8em);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  }
  10%,
  30%,
  50%{
       transform: translate(-2em);
  }
  70%,
  100%{
        transform: translate(0);
  }
}



aside {
  color: green;
  text-align: center;
}

footer {
  color: green;
  text-align: center;
}

#my-skills {
  margin: auto;
  margin-left:110px;
}



footer {
  display: block;

}


#contact img {
  border-radius: 20px;
  border: 7px solid gold;
  }




} 



 @media screen and (min-width:900px) {
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Langar', cursive;

}
header {
  color:green
}

#hamburger {
  display: flex;
  color: black;
  position: absolute;
  /* height: 50px; */
  /* line-height: 50px; */
  left: 90%;
  bottom: 91%;
  right: 70%;
  cursor: pointer;
  width: 30px;
  border: 0px;
  border-radius: .5em, 2em;
}



#side-menu {
  display: flex;
  font-size: 25px;
  justify-content: center;
  display:none;
   padding: 20px 180px; 
  position: absolute;
  background-color:gold;
  cursor: pointer;
  overflow: hidden;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin-left: 950px;
  
}

#my-skills {
  margin: auto;
  margin-left:180px;
}

.section-3 #badge:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80%{
        transform: translate(.8em);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  }
  10%,
  30%,
  50%{
       transform: translate(-2em);
  }
  70%,
  100%{
        transform: translate(0);
  }
}









} 